# 忽略所有IDEA特定的配置文件和目录
.idea/
*.iws
*.iml
*.ipr

# 忽略编译输出目录，默认为out/production/项目名 或 out/test/项目名 在Java项目中
/out/

# 忽略Maven和Gradle的本地仓库目录（如果你使用这些构建工具）
.mvn/
.gradle/

# 忽略日志文件，如果有的话
*.log

# 忽略临时文件
*~

# 忽略操作系统生成的文件
.DS_Store
Thumbs.db

# change test
gen/
build/